<div class="ibm-common-overlay ibm-overlay-alt-two" data-widget="overlay" id="{{name}}">
    <div class="top-bar ibm-background-blue-20">
            <div class="icon-wrap">
                <h2 class="ibm-h2">{{title}}</h2>
            </div>
            
        </div>
        <div class="info ibm-padding-top-60 ibm-padding-bottom-30">

		    <h4 class="ibm-h4">{{copy}} <span class="nickname">"{{nickName}}"</span> ?</h4>
		    <p class="delete-note ibm-padding-top-30">{{sub_copy}}</p>
		    <div class="ibm-padding-top-30">
		        <input type="button" value="{{btn_lbl}}" class="ibm-btn-pri">
		    </div>
        </div>
</div>