<div class="ibm-common-overlay ibm-overlay-alt" data-widget="overlay" id="{{name}}">
    <div class="ibm-column-form">
        <h4 class="ibm-h4 ibm-padding-bottom-30">{{title}}</h4>
        <p>
            <input type="text" value="" size="40" id="username" name="username" placeholder="{{uname_placeholder}}">
        </p>
        <p>
            <input type="password" value="" size="40" id="password" name="password" placeholder="{{pass_placeholder}}">
        </p>
        <p class="ibm-error">{{errorTxt}}</p>
        <p class="ibm-padding-top-30">
            <input type="button" value="{{button_txt}}" class="ibm-btn-pri">
        </p>
    </div>
</div>